/* You can add global styles to this file, and also import other style files */
html,body,main {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


main {
 color: white;
}

a {
  color: orange;
}


li {
  list-style: none;
}
